Repository dannyphillips/footprints: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run pretty:js, jsonlint

.lintstagedrc:

{
  "gitDir": "../../",
  "linters": {
    "*.js": [
      "npm run pretty:js",
      "git add"
    ],
    "*.json": "jsonlint",
    ".*rc": "jsonlint"
  }
}

chore(deps): update dependency husky to v1
  package.json
  yarn.lock
Due: jsonlint

fix(deps): update dependency change-case to v3.1.0
  packages/footprints-web/package.json
Due: jsonlint

fix(deps): update dependency firebase to v5
  packages/footprints-mobile/package.json
  packages/footprints-web/package.json
Due: jsonlint

chore(deps): update dependency prettier to v1.16.4
  package.json
  yarn.lock
Due: jsonlint

fix(deps): update dependency semantic-ui-react to v0.85.0
  packages/footprints-web/package.json
Due: jsonlint

fix(deps): update dependency react to v16.8.1
  packages/footprints-mobile/package.json
  packages/footprints-web/package.json
Due: jsonlint

chore(deps): update dependency lerna to v3
  package.json
  yarn.lock
Due: jsonlint

updated husky
  package.json
Due: jsonlint

remove gh-pages & update packages
  .circleci/config.yml
  package.json
Due: jsonlint

setup circleci for deploys
  .circleci/config.yml
  .firebase/hosting.cHVibGlj.cache
  .firebaserc
  firebase.json
  package.json
Due: jsonlint

minor change for router
  src/components/App.jsx
Due: none

include lockfile
  package.json
  yarn.lock
Due: jsonlint

switch parks to public route
  src/components/App.jsx
Due: none

remove lerna
  package.json
Due: jsonlint

fix failed builds and upgrade tech
  src/components/App.jsx
  src/components/Park.jsx
Due: none

resolved failing test
  src/components/App.test.js
Due: npm run pretty:js

add firebase tools
  package.json
  yarn.lock
Due: jsonlint

import np font-face
  src/components/App.css
  src/components/App.jsx
  src/fonts/NationalPark-Heavy.otf
  src/fonts/NationalPark-Outline.otf
  src/fonts/NationalPark-Regular.otf
  src/fonts/NationalPark-Thin.otf
  src/index.css
Due: none

fix firebase deploys
  firebase.json
  package.json
  public/index.html
Due: jsonlint

update node version for circle
  .circleci/config.yml
Due: none

upgrade node version
  .circleci/config.yml
Due: none

use latest node
  .circleci/config.yml
Due: none

update packages.
  yarn.lock
Due: none

uncomment private routeds
  src/components/App.jsx
  src/components/Home.jsx
  src/components/Navbar.jsx
  src/components/Park.jsx
  src/components/Parks.jsx
Due: none

update placeholder text
  src/components/Home.jsx
  src/components/Parks.jsx
Due: none

Upgrade firebase
  .tool-versions
  src/components/App.jsx
  src/components/Signin.jsx
Due: none

fix: firebase database builds
  src/components/Signin.jsx
Due: none

fix: node version
  package.json
  yarn.lock
Due: jsonlint

fix: use current node version for circle
  .circleci/config.yml
Due: none

fix: move off legacy docker image
  .circleci/config.yml
Due: none

fix: app builds and runs without errors on latest majors of all deps
  package.json
  src/components/App.jsx
  src/components/Login.jsx
  src/components/PrivateRoute.jsx
  src/components/Signin.jsx
  src/index.js
  yarn.lock
Due: npm run pretty:js, jsonlint

fix: failing test
  src/components/App.test.js
Due: npm run pretty:js

fix: new commit to try test
  package.json
Due: jsonlint

fix: remote unit test from deploy workflow
  .circleci/config.yml
Due: none

fix: remove bash env setup & working dir
  .circleci/config.yml
Due: none
